.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 100px;
  }

  &__input {
    width: 60%;
    align-items: flex-end;
    text-align-last: right;

    input {
      text-align-last: left;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__card {
      background: black;
      border: solid 1px white;
      width: 60% !important;
      margin: 10px;
    }
  }
}