.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 100px;
  }

  &__input {
    width: 60%;
    align-items: flex-end;
    text-align-last: right;

    input {
      text-align-last: left;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
      background: #6c757d;
      border: solid 1px white;
      width: 60% !important;
      margin: 10px;
      
      .card-body .id {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        svg {
          font-size: 20px;
          margin-bottom: 3px;
        }
      }

      .card-body .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .divbutton button {
          color: white;
          background-color: black;
        }
      }
    }
  }
}